@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    list-style: none;
}
body{
    height: 100vh;
    display: flex; align-items: center;justify-content: center; background-color: #E0E0E0;
}
.parent {
    position: relative;
    width: 220px;
    height: 180px;
    background-color: #fff;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2) ;
}
.year{
    background-color: #F91D00;
    grid-area: 1 / 1 / 2 / 3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;
    color: #fff;
}
.date { 
    position: relative;
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
    color: #656565;
    line-height: 1.4;
}
.date span{
    display: block;
    margin-top: -25px;
    font-weight: 500;
}
.date::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background-color: #65656559;
}
.date h2{
    font-size: 5rem;
}
.events{
    margin: auto;
    grid-area: 2 / 2 / 4 / 3;
    font-size: 0.8rem;
    color: #656565;
    margin-right: 10px;
    line-height: 1.2;
    white-space: nowrap;
}
.events ul li:not(li:last-child){
    margin-bottom: 2px;
}
.events ul li::before {
    content: attr(data-icon);
    font-size: 0.7em;
}
.hover-details{
    position: absolute;
    background-color: #59C969;
    bottom: 0px;
    left: 0px;
    height: 55%;
    width: 100%;
    padding: 30px 10px;
    font-size: 14px;
    color: #ffff;
    z-index: -1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    line-height: 1.2;
    transition: 0.5s;
}
.parent:hover .hover-details{
    transform: translateY(75px);
}
.hover-details span{
    color: rgba(255, 255, 255, 0.562);
}



